doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    
    //- p: a(href='/about') About
    p: a(href='/mousetracker') Home
    p: a(href='https://www.jonhassall.com') My Web Site